
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}

<div class="page-header" style="margin:30px">
    <div class="col-lg-8">
        <h2 style="color:red">Cấm truy cập</h2>
        <h5 style="color:red">Bạn không được phép truy cập vào tài nguyên đã yêu cầu!</h5>
    </div>
</div>

