@model HeThongQuanLyTiemChung.ModelViews.MuaHangVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<HeThongQuanLyTiemChung.ModelViews.CartItem> Carts = ViewBag.GioHang;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">


    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="form-validation.css" rel="stylesheet">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha512-oL84kLQMEPIS350nZEpvFH1whU0HHGNUDq/X3WBdDAvKP7jn06gHTsCsymsoPYKF/duN8ZxzzvQgOaaZSgcYtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> *@

    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

</head>


<!-- Begin Main Content Area -->
<body>

<main class="main-content">

    <h2 class="text-center">THANH TOÁN ĐƠN TIÊM CHỦNG</h2>
    <br />
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-12">
                    <form id="newsLetterForm" asp-controller="Checkout" asp-action="Index" method="post">
                        <div class="checkbox-form">
                            <h3>Thông tin khách hàng</h3>
                            <br />
                            <div class="mb-3">
                                <label for="email"><strong>Họ và tên</strong> <span class="text-muted"></span></label>
                                <input class="form-control" asp-for="FullName" placeholder="Họ và Tên" type="text">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label for="address"><strong>Số điện thoại</strong> </label>
                                <input class="form-control" asp-for="Phone" placeholder="Số điện thoại" type="number">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label for="address2"><strong>Địa chỉ</strong><span class="text-muted"></span></label>
                                <input class="form-control" asp-for="Address" placeholder="Địa chỉ nhận hàng" type="text">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <br />
                                    <h4 class="mb-3">Phương thức thanh toán</h4>

                                    <div class="d-block my-3">
                                        <div class="custom-control custom-radio">
                                            <input id="debit" asp-for="TypePayment" value="1" type="radio" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="debit">Thanh toán tiền mặc</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="credit" asp-for="TypePayment" value="2" type="radio" class="custom-control-input">
                                            <label class="custom-control-label" for="credit">Thẻ tính dụng</label>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <div class="order-button-payment">
                                        <input class="btn btn-success m-r-5" value="XÁC NHẬN ĐĂNG KÝ" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="your-order">
                        <h3>Chi tiết hóa đơn</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Tên vắc xin</th>
                                        <th class="cart-product-total">Đơn giá</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Carts.Count() > 0)
                                    {
                                        foreach (var item in Carts)
                                        {
                                            <tr class="cart_item">
                                                <td class="cart-product-name">
                                                    @item.VaccineName  × <strong>@item.SoLuong</strong>

                                                </td>
                                                <td class="cart-product-total"><div class="col-lg-12"><span class="amount">@item.ThanhTien.Value.ToString("#,##0") VNĐ</span></div></td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                                <tfoot>

                                    <tr class="order-total">
                                        <th>Tổng hóa đơn</th>
                                        <td><strong><span class="text-success">@Carts.Sum(x => x.ThanhTien).Value.ToString("#,##0") VNĐ</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script type="text/javascript">
    $(document).on("submit", "#newsLetterForm", function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        var formData = new FormData(this);
        // showw(formData.get("TypePayment"));
        //var type = formData.get("TypePayment");
        if (showw(formData.get("TypePayment")) == 2) {
            fetch("checkout.html",
                {
                    method: "POST",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => location.href = (data.url))
                .catch(error => console.log(error.message))
                .finally(() => console.log("Done"));
        } else {
            document.getElementById("newsLetterForm").submit();

        }
    });
</script>

<script>
    function showw(e) {
        return e;
    };
</script>
</body>
</html>