@model HeThongQuanLyTiemChung.Models.Age

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminAges" asp-action="Index" class="breadcrumb-item">Danh sách nhóm tuổi</a>
            <span class="breadcrumb-item active">Xác nhận xóa nhóm tuổi</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Xác nhận xóa nhóm tuổi</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.AgeId</td>
                </tr>
                <tr>
                    <td>Tên nhóm tuổi:</td>
                    <td>@Model.AgeName</td>
                </tr>

                <tr>
                    <td>Xác nhận xóa:</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.AgeId">
                            <input type="hidden" asp-for="AgeId" />
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
