@model HeThongQuanLyTiemChung.Models.Disease

@{
    ViewData["Title"] = "TaoMoi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminBrands" asp-action="Index" class="breadcrumb-item">Danh sách nước sản xuất</a>
            <span class="breadcrumb-item active">Tạo mới loại bệnh</span>
        </nav>
    </div>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="col-sm-6 col-form-label">Tên loại bệnh</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="DiseaseName" placeholder="Tên loại bệnh">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-sm-6" style="text-align:center">
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </div>
        </div>
    </div>
</form>
